.formContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupForm{
    display: flex;
    flex-direction: column;
}

.inputField{
    width: 200px;
    height: 40px;
    border: 1px solid red;
}

.inputField:focus{
    border-color: blue;
    outline: none;
}